.services {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'DM Sans';
    padding: 0 3em 3em 3em;
    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;
        p {
            font-weight: 200;
            font-size: 20px;
            color: gray;
            text-align: right;
            font-family: 'DM Sans';
        }
        hr {
            width: 500px;
            border: none;
            border-top: 0.5px solid gray;
        }
    }
    .titleContainer {
        padding-top: 1em;
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: 'DM Sans';
            .title-thin {
                font-weight: 100;
                font-size: 56px;
            }
            img {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover
            }
            h1 {
                font-size: 56px;
                font-weight: 100;
                font-family: 'DM Sans';
            }
            button {
                width: 200px;
                height: 50px;
                border-radius: 50px;
                background-color: red;
                border: none;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
    .listContainer {
        flex: 2;
        display: flex;
        max-width: 1366px;
        .box {
            padding: 3em;
            border: 0.5px solid gray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        button {
            margin-top: 2em;
            padding: 1em;
            background-color: red;
            border: none;
            cursor: pointer;
        }
    }
}